swagger: '2.0'
info:
  title: 3blades API
  version: "1.0"
host: api.3blades.ai
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
  - text/html
x-headers:
  - Content-Type: application/json
x-samples-languages: ['curl', 'python', 'javascript', 'node', 'ruby', 'php', 'go', 'csharp', 'java', 'swift']
securityDefinitions:
  jwt:
    description: |
      A valid JSON Web Token (JWT) must be passed for all operations except for those in the `/auth` route. A JWT can be retrieved from the `/auth/jwt-token-auth` endpoint.

      The following syntax is required:

        Authorization: Bearer <token>
    type: apiKey
    name: Authorization
    in: header
security:
  - jwt: []
paths:
  /auth/jwt-token-auth/:
    post:
      operationId: auth_jwt-token-auth
      responses:
        '201':
          description: 'JWT created'
          schema:
            $ref: '#/definitions/JWT'
          examples:
            application/json: { "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ" }
        '400':
          description: 'Invalid data supplied'
          schema:
            $ref: '#/definitions/JWTError'
      parameters:
        - name: jwt_data
          in: body
          schema:
            $ref: '#/definitions/JWTData'
      consumes:
        - application/json
      summary: 'Create JSON Web Token (JWT)'
      tags:
        - auth
      security: []
  /auth/jwt-token-refresh/:
    post:
      operationId: auth_jwt-token-refresh
      responses:
        '201':
          description: 'RefreshJSONWebToken created'
          schema:
            $ref: '#/definitions/RefreshJSONWebToken'
        '400':
          description: 'Invalid data supplied'
          schema:
            $ref: '#/definitions/RefreshJSONWebTokenError'
      parameters:
        - name: refreshjwt_data
          in: body
          schema:
            $ref: '#/definitions/RefreshJSONWebTokenData'
      summary: 'Refresh a JSON Web Token (JWT)'
      description: 'Obtains a new JSON Web Token using existing user credentials.'
      consumes:
        - application/json
      tags:
        - auth
      security: []
  /auth/jwt-token-verify/:
    post:
      operationId: auth_jwt-token-verify
      responses:
        '201':
          description: 'VerifyJSONWebToken created'
          examples:
            application/json: { "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ" }
          schema:
            $ref: '#/definitions/VerifyJSONWebToken'
        '400':
          description: 'Invalid data supplied'
          schema:
            $ref: '#/definitions/VerifyJSONWebTokenError'
      parameters:
        - name: verifyjwt_data
          in: body
          schema:
            $ref: '#/definitions/VerifyJSONWebTokenData'
      summary: 'Validate JSON Web Token (JWT)'
      description: 'Checks veraciy of token.'
      consumes:
        - application/json
      tags:
        - auth
      security: []
  '/auth/login/{provider}/':
    get:
      operationId: oauth_login
      responses:
        '302':
          description: "Redirect to backend auth page"
      parameters:
        - name: provider
          in: path
          required: true
          description: "OAuth2 provider"
          type: string
          enum:
            - github
            - google
            - slack
      tags:
        - auth
  /auth/register/:
    post:
      operationId: auth_register
      responses:
        '201':
          description: 'User created'
          examples:
            application/json: {"id":"536686d7-0096-4c72-a4c3-5d710a361a0a","username":"johndoe","email":"user@email.com","first_name":"John","last_name":"Doe","profile":{"avatar_url":"http://example.com/","bio":"I like tests","url":"http://about.me/myprofile","location":"Atlanta, GA","company":"3Blades","timezone":"America/New_York"}}
          schema:
            $ref: '#/definitions/User'
        '400':
          description: 'Invalid data supplied'
          schema:
            $ref: '#/definitions/UserError'
      parameters:
        - name: user_data
          in: body
          schema:
            $ref: '#/definitions/UserData'
      summary: 'Register a user'
      description: 'User registration requires confirming email address to activate user.'
      consumes:
        - application/json
      tags:
        - auth
      security: []
  '/v1/{namespace}/billing/cards/':
    get:
      operationId: billing_cards_list
      responses:
        '200':
          description: 'Card list'
          examples:
            application/json: []
          schema:
            type: array
            items:
              $ref: '#/definitions/Card'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Set limit when retrieving credit or debit cards.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Set offset when retriving cards.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Order when retrieving cards.'
          type: string
      summary: 'Get credit cards'
      tags:
        - billing
    post:
      operationId: billing_cards_create
      responses:
        '201':
          description: 'Card created'
          examples:
            application/json: {"name": "John Doe","address_line1": "3423 Piedmont Rd NE","address_line2": "","address_city": "Atlanta","address_state": "Georgia","address_zip": "30305","address_country": "United States","exp_month": 1,"exp_year": 2019,"id": "4126086e-525a-4027-b9e7-ae8de47210b2","customer": "7e102c7b-55cd-49a0-9b23-58865eba1cc3","address_line1_check": "pass","address_zip_check": "pass","brand": "Visa","cvc_check": "","last4": "4242","fingerprint": "WpZ4zQymdmF5LhbH","funding": "credit","stripe_id": "card_1Aj8HuLUHPUzUsaQlDbaXjzA","created": "2017-07-24T15:16:07.995380Z"}
          schema:
            $ref: '#/definitions/Card'
        '400':
          description: 'Invalid data supplied'
          schema:
            $ref: '#/definitions/CardError'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: card_data
          in: body
          schema:
            $ref: '#/definitions/CardDataPost'
      summary: 'Create new credit card'
      consumes:
        - application/json
      tags:
        - billing
  '/v1/{namespace}/billing/cards/{id}/':
    get:
      operationId: billing_cards_read
      responses:
        '200':
          description: 'Card retrieved.'
          examples:
            application/json: {"name": "John Doe","address_line1": "3423 Piedmont Rd NE","address_line2": "","address_city": "Atlanta","address_state": "Georgia","address_zip": "30305","address_country": "United States","exp_month": 1,"exp_year": 2019,"id": "4126086e-525a-4027-b9e7-ae8de47210b2","customer": "7e102c7b-55cd-49a0-9b23-58865eba1cc3","address_line1_check": "pass","address_zip_check": "pass","brand": "Visa","cvc_check": "","last4": "4242","fingerprint": "WpZ4zQymdmF5LhbH","funding": "credit","stripe_id": "card_1Aj8HuLUHPUzUsaQlDbaXjzA","created": "2017-07-24T15:16:07.995380Z"}
          schema:
            $ref: '#/definitions/Card'
        '404':
          description: 'Card not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'User unique identifier expressed as UUID.'
          type: string
      summary: 'Get credit card by id'
      tags:
        - billing
    put:
      operationId: billing_cards_replace
      responses:
        '200':
          description: 'Card updated'
          examples:
            application/json: {"name": "John Doe","address_line1": "3423 Piedmont Rd NE","address_line2": "","address_city": "Atlanta","address_state": "Georgia","address_zip": "30305","address_country": "United States","exp_month": 1,"exp_year": 2027,"id": "4126086e-525a-4027-b9e7-ae8de47210b2","customer": "7e102c7b-55cd-49a0-9b23-58865eba1cc3","address_line1_check": "pass","address_zip_check": "pass","brand": "Visa","cvc_check": "","last4": "4242","fingerprint": "WpZ4zQymdmF5LhbH","funding": "credit","stripe_id": "card_1Aj8HuLUHPUzUsaQlDbaXjzA","created": "2017-07-24T15:16:07.995380Z"}
          schema:
            $ref: '#/definitions/Card'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/CardError'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: ''
          type: string
        - name: card_data
          in: body
          schema:
            $ref: '#/definitions/CardDataPutandPatch'
      consumes:
        - application/json
      summary: 'Replace a credit card'
      tags:
        - billing
    patch:
      operationId: billing_cards_update
      responses:
        '200':
          description: 'Card updated'
          examples:
            application/json: {"name": "John Doe","address_line1": "3423 Piedmont Rd NE","address_line2": "","address_city": "Atlanta","address_state": "Georgia","address_zip": "30305","address_country": "United States","exp_month": 1,"exp_year": 2025,"id": "4126086e-525a-4027-b9e7-ae8de47210b2","customer": "7e102c7b-55cd-49a0-9b23-58865eba1cc3","address_line1_check": "pass","address_zip_check": "pass","brand": "Visa","cvc_check": "","last4": "4242","fingerprint": "WpZ4zQymdmF5LhbH","funding": "credit","stripe_id": "card_1Aj8HuLUHPUzUsaQlDbaXjzA","created": "2017-07-24T15:16:10.806003Z"}
          schema:
            $ref: '#/definitions/Card'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/CardUpdateError'
        '404':
          description: Card not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Card unique identifier.'
          type: string
        - name: card_data
          in: body
          schema:
            $ref: '#/definitions/CardDataPutandPatch'
      consumes:
        - application/json
      summary: 'Update a credit card'
      tags:
        - billing
    delete:
      operationId: billing_cards_delete
      responses:
        '204':
          description: 'Card deleted.'
        '404':
          description: 'Card not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Card unique identifier expressed as UUID.'
          type: string
      summary: 'Delete a credit card'
      tags:
        - billing
  '/v1/{namespace}/billing/invoices/':
    get:
      operationId: billing_invoices_list
      responses:
        '200':
          description: 'Invoice list.'
          examples:
            application/json: []
          schema:
            type: array
            items:
              $ref: '#/definitions/Invoice'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Limite when getting items.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset when getting items.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Ordering when getting items.'
          type: string
      summary: 'Get invoices'
      tags:
        - billing
  '/v1/{namespace}/billing/invoices/{id}/':
    get:
      operationId: billing_invoices_read
      responses:
        '200':
          description: 'Invoice retrieved.'
          schema:
            $ref: '#/definitions/Invoice'
        '404':
          description: 'Invoice not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Invoice unique identifier expressed as UUID.'
          type: string
      summary: 'Get an invoice'
      tags:
        - billing
  '/v1/{namespace}/billing/plans/':
    get:
      operationId: billing_plans_list
      responses:
        '200':
          description: 'Plan list.'
          examples:
            application/json: [{"id": "d5791ab3-aefb-45af-80fc-2c7a166d78eb","stripe_id": "post_billing_plan","created": "2017-07-24T15:46:39Z","metadata": {},"livemode": false,"amount": 20,"currency": "usd","interval": "year","interval_count": 1,"name": "patch_billing_plan","statement_descriptor": "","trial_period_days": 7},{"id": "256fd63a-9d6b-48d2-8ff5-f56eaf54c59b","stripe_id": "post_billing_plan_2","created": "2017-07-24T15:46:48Z","metadata": {},"livemode": false,"amount": 20,"currency": "usd","interval": "week","interval_count": 52,"name": "post_billing_plan_2","statement_descriptor": "","trial_period_days": 7},{"id": "5915a2ae-12f5-4927-bb26-3b0609228791","stripe_id": "post_billing_plan_3","created": "2017-07-24T15:46:52Z","metadata": {},"livemode": false,"amount": 20,"currency": "usd","interval": "month","interval_count": 12,"name": "post_billing_plan_3","statement_descriptor": "","trial_period_days": 7}]
          schema:
            type: array
            items:
              $ref: '#/definitions/Plan'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Limit when getting items.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset when getting items.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Ordering when getting items.'
          type: string
      summary: 'Get billing plans'
      tags:
        - billing
  '/v1/{namespace}/billing/plans/{id}/':
    get:
      operationId: billing_plans_read
      responses:
        '200':
          description: Plan retrieved
          examples:
            application/json: {"id": "d5791ab3-aefb-45af-80fc-2c7a166d78eb","stripe_id": "post_billing_plan","created": "2017-07-24T15:46:39Z","metadata": {},"livemode": false,"amount": 20,"currency": "usd","interval": "year","interval_count": 1,"name": "post_billing_plan","statement_descriptor": "","trial_period_days": 7}
          schema:
            $ref: '#/definitions/Plan'
        '404':
          description: Plan not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Plan unique identifier expressed as UUID.'
          type: string
      summary: 'Get a billing plan'
      tags:
        - billing
  '/v1/{namespace}/billing/subscriptions/':
    get:
      operationId: billing_subscriptions_list
      responses:
        '200':
          description: 'Subscription list.'
          examples:
            application/json: [{"id": "579208c3-4f5c-4b5d-baa3-309a06db681c","plan": "efb36cb0-0ef2-4af3-ae5d-10d9ae73845d","stripe_id": "sub_B5KyO9BZ6lUNPP","created": "2017-07-24T17:25:04Z","livemode": false,"application_fee_percent": 0,"cancel_at_period_end": false,"canceled_at": "","current_period_start": "2017-07-24T17:25:04Z","current_period_end": "2017-07-31T17:25:04Z","start": "2017-07-24T17:25:04Z","ended_at": "","quantity": 1,"status": "trialing","trial_start": "2017-07-24T17:25:04Z","trial_end": "2017-07-31T17:25:04Z"}]
          schema:
            type: array
            items:
              $ref: '#/definitions/Subscription'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Limit when getting items.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset when getting items.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Ordering when getting items.'
          type: string
      summary: 'Get active subscriptons'
      tags:
        - billing
    post:
      operationId: billing_subscriptions_create
      responses:
        '201':
          description: Subscription created
          examples:
            application/json: {"id": "579208c3-4f5c-4b5d-baa3-309a06db681c","plan": "efb36cb0-0ef2-4af3-ae5d-10d9ae73845d","stripe_id": "sub_B5KyO9BZ6lUNPP","created": "2017-07-24T17:25:04Z","livemode": false,"application_fee_percent": 0,"cancel_at_period_end": false,"canceled_at": "","current_period_start": "2017-07-24T17:25:04Z","current_period_end": "2017-07-31T17:25:04Z","start": "2017-07-24T17:25:04Z","ended_at": "","quantity": 1,"status": "trialing","trial_start": "2017-07-24T17:25:04Z","trial_end": "2017-07-31T17:25:04Z"}
          schema:
            $ref: '#/definitions/Subscription'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/SubscriptionError'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: subscription_data
          in: body
          schema:
            $ref: '#/definitions/SubscriptionData'
      consumes:
        - application/json
      summary: 'Create a new subscription'
      tags:
        - billing
  '/v1/{namespace}/billing/subscriptions/{id}/':
    get:
      operationId: billing_subscriptions_read
      responses:
        '200':
          description: 'Subscription retrieved.'
          schema:
            $ref: '#/definitions/Subscription'
        '404':
          description: 'Subscription not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Unique identifier expressed as UUID.'
          type: string
      summary: 'Get a subscriptions'
      tags:
        - billing
    delete:
      operationId: billing_subscriptions_delete
      responses:
        '204':
          description: 'Subscription deleted.'
        '404':
          description: 'Subscription not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Subscription unique identifier expressed as UUID.'
          type: string
      summary: 'Delete a subscription'
      tags:
        - billing
  '/v1/{namespace}/hosts/':
    get:
      operationId: hosts_list
      responses:
        '200':
          description: 'DockerHost list.'
          schema:
            type: array
            items:
              $ref: '#/definitions/DockerHost'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team data.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Limite when getting items.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset when getting items.'
          type: string
        - name: name
          required: false
          in: query
          description: 'Name, when getting items.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Ordering when getting items.'
          type: string
      summary: 'Get available hosts'
      tags:
        - hosts
    post:
      operationId: hosts_create
      responses:
        '201':
          description: 'DockerHost created successfully.'
          schema:
            $ref: '#/definitions/DockerHost'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/DockerHostError'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: dockerhost_data
          in: body
          schema:
            $ref: '#/definitions/DockerHostData'
      consumes:
        - application/json
      summary: 'Create a new host'
      tags:
        - hosts
  '/v1/{namespace}/hosts/{host}/':
    get:
      operationId: hosts_read
      responses:
        '200':
          description: 'DockerHost retrieved.'
          schema:
            $ref: '#/definitions/DockerHost'
        '404':
          description: 'DockerHost not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: host
          required: true
          in: path
          description: 'Unique identifier expressed as UUID or name.'
          type: string
      summary: 'Get a host'
      tags:
        - hosts
    put:
      operationId: hosts_replace
      responses:
        '200':
          description: 'DockerHost updated.'
          schema:
            $ref: '#/definitions/DockerHost'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/DockerHostError'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: host
          required: true
          in: path
          description: ''
          type: string
        - name: dockerhost_data
          in: body
          schema:
            $ref: '#/definitions/DockerHostData'
      consumes:
        - application/json
      summary: 'Replace a host'
      tags:
        - hosts
    patch:
      operationId: hosts_update
      responses:
        '200':
          description: DockerHost updated
          schema:
            $ref: '#/definitions/DockerHost'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/DockerHostError'
        '404':
          description: DockerHost not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: host
          required: true
          in: path
          description: ''
          type: string
        - name: dockerhost_data
          in: body
          schema:
            $ref: '#/definitions/DockerHostData'
      consumes:
        - application/json
      summary: 'Update a host'
      tags:
        - hosts
    delete:
      operationId: hosts_delete
      responses:
        '204':
          description: 'DockerHost deleted.'
        '404':
          description: 'DockerHost not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: host
          required: true
          in: path
          description: 'DockerHost unique identifier expressed as UUID.'
          type: string
      summary: 'Delete a host'
      tags:
        - hosts
  '/v1/{namespace}/projects/':
    get:
      operationId: projects_list
      responses:
        '200':
          description: 'Project list.'
          examples:
            application/json: []
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Limit when getting data.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset when getting data.'
          type: string
        - name: private
          required: false
          in: query
          description: 'Private project or public project.'
          type: string
        - name: name
          required: false
          in: query
          description: 'Project name.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Ordering when getting projects.'
          type: string
      summary: 'Get available projects'
      tags:
        - projects
    post:
      operationId: projects_create
      responses:
        '201':
          description: Project created
          examples:
            application/json: {"id": "79cadd17-5738-4f02-8377-68e67d3eee18","name": "myProject","description": "Project created by me","private": false,"last_updated": "2017-07-24T14:54:38.797878Z","owner": "johndoe","collaborators": ["johndoe"]}
          schema:
            $ref: '#/definitions/Project'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/ProjectError'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: project_data
          in: body
          schema:
            $ref: '#/definitions/ProjectData'
      consumes:
        - application/json
      summary: 'Create a new project'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/':
    get:
      operationId: projects_read
      responses:
        '200':
          description: 'Project retrieved.'
          examples:
            application/json: {"id": "79cadd17-5738-4f02-8377-68e67d3eee18","name": "myProject","description": "Project created by me","private": false,"last_updated": "2017-07-24T14:54:38.797878Z","owner": "johndoe","collaborators": ["johndoe"]}
          schema:
            $ref: '#/definitions/Project'
        '404':
          description: 'Project not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
      summary: 'Get a project'
      tags:
        - projects
    put:
      operationId: projects_replace
      responses:
        '200':
          description: 'Project updated.'
          examples:
            application/json: {"id": "79cadd17-5738-4f02-8377-68e67d3eee18","name": "myProject","description": "My project updated by me using PUT","private": true,"last_updated": "2017-07-24T14:54:43.225603Z","owner": "johndoe","collaborators": ["johndoe"]}
          schema:
            $ref: '#/definitions/Project'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/Project'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team namespace.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: project_data
          in: body
          schema:
            $ref: '#/definitions/ProjectData'
      consumes:
        - application/json
      summary: 'Replace a project'
      tags:
        - projects
    patch:
      operationId: projects_update
      responses:
        '200':
          description: Project updated
          examples:
            application/json: {"id": "79cadd17-5738-4f02-8377-68e67d3eee18","name": "myProject","description": "My project updated by me using PATCH","private": true,"last_updated": "2017-07-24T14:54:43.225603Z","owner": "johndoe","collaborators": ["johndoe"]}
          schema:
            $ref: '#/definitions/Project'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/ProjectError'
        '404':
          description: Project not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: project_data
          in: body
          schema:
            $ref: '#/definitions/ProjectData'
      consumes:
        - application/json
      summary: 'Update a project'
      tags:
        - projects
    delete:
      operationId: projects_delete
      responses:
        '204':
          description: 'Project deleted.'
        '404':
          description: 'Project not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
      summary: 'Delete a project'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/collaborators/':
    get:
      operationId: projects_collaborators_list
      responses:
        '200':
          description: 'Collaborator list.'
          examples:
            application/json: [{"id": "42946cd9-2fb6-4764-944b-e107b972dd97","owner": true,"joined": "2017-07-24T14:54:38.819171Z","username": "johndoe","email": "johndoe@example.com","first_name": "John","last_name": "Doe","permissions": ["read_project","write_project"]}]
          schema:
            type: array
            items:
              $ref: '#/definitions/Collaborator'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Limit when retrieving items.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset when retrieving items.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Ordering when retrieving items.'
          type: string
      summary: 'Get project collaborators'
      tags:
        - projects
    post:
      operationId: projects_collaborators_create
      responses:
        '201':
          description: 'Collaborator created.'
          examples:
            application/json: {"id": "ef4d3a93-ae36-428c-b00f-5805b496ed95","owner": false,"joined": "2017-07-24T14:54:49.205912Z","username": "collaborator","email": "collaborator@examples.com","first_name": "John","last_name": "Doe","permissions": ["read_project","write_project"]}
          schema:
            $ref: '#/definitions/Collaborator'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/CollaboratorError'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: collaborator_data
          in: body
          schema:
            $ref: '#/definitions/CollaboratorData'
      consumes:
        - application/json
      summary: 'Create project collaborators'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/collaborators/{collaborator}/':
    get:
      operationId: projects_collaborators_read
      responses:
        '200':
          description: 'Collaborator retrieved.'
          examples:
            application/json: {"id": "ef4d3a93-ae36-428c-b00f-5805b496ed95","owner": false,"joined": "2017-07-24T14:54:49.205912Z","username": "collaborator","email": "collaborator@3blades.ai","first_name": "John","last_name": "Doe","permissions": ["read_project","write_project"]}
          schema:
            $ref: '#/definitions/Collaborator'
        '404':
          description: 'Collaborator not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: collaborator
          required: true
          in: path
          description: 'Collaborator unique identifier expressed as UUID or name.'
          type: string
      summary: 'Get a project collaborator'
      tags:
        - projects
    patch:
      operationId: projects_collaborators_update
      responses:
        '200':
          description: Collaborator updated
          schema:
            $ref: '#/definitions/Collaborator'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/CollaboratorError'
        '404':
          description: Collaborator not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: project
          required: true
          in: path
          description: ''
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: collaborator
          required: true
          in: path
          description: ''
          type: string
        - name: collaborator_data
          in: body
          schema:
            $ref: '#/definitions/CollaboratorData'
      consumes:
        - application/json
      summary: 'Update project collaborator'
      tags:
        - projects
    delete:
      operationId: projects_collaborators_delete
      responses:
        '204':
          description: 'Collaborator deleted.'
        '404':
          description: 'Collaborator not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: collaborator
          required: true
          in: path
          description: 'Collaborator unique identifier.'
          type: string
      summary: 'Delete a project collaborator'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/project_files/':
    get:
      operationId: projects_project_files_list
      responses:
        '200':
          description: ProjectFile list
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectFile'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Unique identifier for project file expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Limit when getting project file list.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset when getting project file list.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Ordering of list values when getting project file list.'
          type: string
        - name: filename
          required: false
          in: query
          description: 'Exact file name, relative to the project root. If no such file is found, an empty list will be returned.'
          type: string
        - name: content
          required: false
          in: query
          description: 'Determines whether or not content is returned as base64. Defaults to false.'
          type: string
      summary: 'Get project files'
      tags:
        - projects
    post:
      operationId: projects_project_files_create
      responses:
        '201':
          description: ProjectFile created
          examples:
            application/json: {"id": "592ac8da-dbf5-4654-9127-8df9ba9280a3","project": "79cadd17-5738-4f02-8377-68e67d3eee18","file": "http://dev-api.3blades.ai/media/johndoe/79cadd17-5738-4f02-8377-68e67d3eee18/foo","public": false,"name": "myfile","path": ""}
          schema:
            $ref: '#/definitions/ProjectFile'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/ProjectFileError'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: file
          required: false
          in: formData
          description: 'File to send, to create new file. This parameter is only used with form data and may include multiple files.'
          type: file
        - name: base64_data
          required: false
          in: formData
          description: 'Fila data, represented as base64.'
          type: string
        - name: name
          required: false
          in: formData
          description: 'File name. May include path when creating file with base64 field.'
          type: string
        - name: path
          required: false
          in: formData
          description: 'File path. Defaults to (/).'
          type: string
      consumes:
        - multipart/form-data
        - application/json
      summary: 'Create project files'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/project_files/{id}/':
    get:
      operationId: projects_project_files_read
      responses:
        '200':
          description: 'ProjectFile retrieved'
          examples:
            application/json: {"id": "592ac8da-dbf5-4654-9127-8df9ba9280a3","project": "79cadd17-5738-4f02-8377-68e67d3eee18","file": "http://dev-api.3blades.ai/media/johndoe/79cadd17-5738-4f02-8377-68e67d3eee18/myfile","public": false,"name": "myfile","path": ""}
          schema:
            $ref: '#/definitions/ProjectFile'
        '404':
          description: 'ProjectFile not found'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifer.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'File unique identifier.'
          type: string
        - name: content
          required: false
          in: query
          description: 'Determines whether or not content is returned as base64. Defaults to false.'
          type: string
      summary: 'Get a project file'
      tags:
        - projects
    put:
      operationId: projects_project_files_replace
      responses:
        '200':
          description: 'ProjectFile updated'
          examples:
            application/json: {"id": "592ac8da-dbf5-4654-9127-8df9ba9280a3","project": "79cadd17-5738-4f02-8377-68e67d3eee18","file": "/media/johndoe/79cadd17-5738-4f02-8377-68e67d3eee18/myfile","public": false,"name": "myfile","path": ""}
          schema:
            $ref: '#/definitions/ProjectFile'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ProjectFileError'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifer.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'File unique identifier.'
          type: string
        - name: file
          required: false
          in: formData
          description: 'File to send, to create new file. This parameter is only used with form data and may include multiple files.'
          type: file
        - name: base64_data
          required: false
          in: formData
          description: 'Fila data, represented as base64.'
          type: string
        - name: name
          required: false
          in: formData
          description: 'File name. May include path when creating file with base64 field.'
          type: string
        - name: path
          required: false
          in: formData
          description: 'File path. Defaults to (/).'
          type: string
      consumes:
        - multipart/form-data
      summary: 'Replace a project file'
      tags:
        - projects
    patch:
      operationId: projects_project_files_update
      responses:
        '200':
          description: 'ProjectFile updated.'
          examples:
            application/json: {"id": "592ac8da-dbf5-4654-9127-8df9ba9280a3","project": "79cadd17-5738-4f02-8377-68e67d3eee18","file": "/media/johndoe/79cadd17-5738-4f02-8377-68e67d3eee18/myfile","public": false,"name": "foo","path": ""}
          schema:
            $ref: '#/definitions/ProjectFile'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ProjectFileError'
        '404':
          description: 'ProjectFile not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifer.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'File unique identifier.'
          type: string
        - name: file
          required: false
          in: formData
          description: 'File to send, to create new file. This parameter is only used with form data and may include multiple files.'
          type: file
        - name: base64_data
          required: false
          in: formData
          description: 'Fila data, represented as base64.'
          type: string
        - name: name
          required: false
          in: formData
          description: 'File name. May include path when creating file with base64 field.'
          type: string
        - name: path
          required: false
          in: formData
          description: 'File path. Defaults to (/).'
          type: string
      consumes:
        - multipart/form-data
      summary: 'Update a project file'
      tags:
        - projects
    delete:
      operationId: projects_project_files_delete
      responses:
        '204':
          description: ProjectFile deleted
        '404':
          description: ProjectFile not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifer.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'File unique identifier.'
          type: string
      summary: 'Delete a project file'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/':
    get:
      operationId: projects_servers_list
      responses:
        '200':
          description: 'Server list.'
          examples:
            application/json: []
          schema:
            type: array
            items:
              $ref: '#/definitions/Server'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Limit results when getting server list.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset results when getting server list.'
          type: string
        - name: name
          required: false
          in: query
          description: 'Server name.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Ordering option when getting server list.'
          type: string
      summary: 'Retrieve servers'
      tags:
        - projects
    post:
      operationId: projects_servers_create
      responses:
        '201':
          description: 'Server created.'
          examples:
            application/json: {"id": "768f6eef-d07b-40ce-bce1-0dcce5bfbfc3","name": "testPostServer","created_at": "2017-07-24T13:41:57.089722Z","image_name": "","server_size": "d16e2091-7596-481b-a50f-285812beb98c","startup_script": "","config": {"type": "jupyter"},"status": "Stopped","connected": [],"host": "","endpoint": "https://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/endpoint/jupyter/tree","logs_url": "wss://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/logs/","status_url": "wss://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/status/"}
          schema:
            $ref: '#/definitions/Server'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ServerError'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifer expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: server_data
          in: body
          schema:
            $ref: '#/definitions/ServerData'
      consumes:
        - application/json
      summary: 'Create a new server'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/':
    get:
      operationId: projects_servers_read
      responses:
        '200':
          description: 'Server retrieved.'
          examples:
            application/json: {"id": "768f6eef-d07b-40ce-bce1-0dcce5bfbfc3","name": "testPostServer","created_at": "2017-07-24T13:41:57.089722Z","image_name": "","server_size": "d16e2091-7596-481b-a50f-285812beb98c","startup_script": "","config": {"type": "jupyter"},"status": "Stopped","connected": [],"host": "","endpoint": "https://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/endpoint/jupyter/tree","logs_url": "wss://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/logs/","status_url": "wss://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/status/"}
          schema:
            $ref: '#/definitions/Server'
        '404':
          description: 'Server not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
      summary: 'Retrieve a server'
      tags:
        - projects
    put:
      operationId: projects_servers_replace
      responses:
        '200':
          description: 'Server updated.'
          examples:
            application/json: {"id": "768f6eef-d07b-40ce-bce1-0dcce5bfbfc3","name": "testPutServer","created_at": "2017-07-24T13:41:57.089722Z","image_name": "","server_size": "d16e2091-7596-481b-a50f-285812beb98c","startup_script": "","config": {"type": "jupyter"},"status": "Stopped","connected": [],"host": "","endpoint": "https://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/endpoint/jupyter/tree","logs_url": "wss://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/logs/","status_url": "wss://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/status/"}
          schema:
            $ref: '#/definitions/Server'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ServerError'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: server_data
          in: body
          schema:
            $ref: '#/definitions/ServerData'
      consumes:
        - application/json
      summary: 'Replace a server'
      tags:
        - projects
    patch:
      operationId: projects_servers_update
      responses:
        '200':
          description: Server updated
          examples:
            application/json:
              {"id": "768f6eef-d07b-40ce-bce1-0dcce5bfbfc3","name": "testPatchServer","created_at": "2017-07-24T13:41:57.089722Z","image_name": "","server_size": "d16e2091-7596-481b-a50f-285812beb98c","startup_script": "","config": {"type": "jupyter"},"status": "Stopped","connected": [],"host": "","endpoint": "https://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/endpoint/jupyter/tree","logs_url": "wss://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/logs/","status_url": "wss://dev-api.3blades.ai/v1/johndoe/projects/d56271ef-eea7-44ad-8d46-828a288c7a3d/servers/768f6eef-d07b-40ce-bce1-0dcce5bfbfc3/status/"}
          schema:
            $ref: '#/definitions/Server'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/ServerData'
        '404':
          description: Server not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: server_data
          in: body
          schema:
            $ref: '#/definitions/ServerData'
      consumes:
        - application/json
      summary: 'Update a server'
      tags:
        - projects
    delete:
      operationId: projects_servers_delete
      responses:
        '204':
          description: Server deleted
        '404':
          description: Server not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: server
          required: true
          in: path
          description: 'User unique identifier.'
          type: string
      summary: 'Delete a server'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/api-key/':
    get:
      operationId: projects_servers_api-key
      responses:
        '200':
          description: 'Server API key'
          schema:
            $ref: '#/definitions/JWT'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
      summary: 'Get server API key'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/start/':
    post:
      operationId: projects_servers_start
      responses:
        '201':
          description: 'Server started.'
        '400':
          description: 'Invalid data supplied.'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
      summary: 'Start a server'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/stop/':
    post:
      operationId: projects_servers_stop
      responses:
        '201':
          description: 'Server stopped.'
        '400':
          description: 'Invalid data supplied.'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
      summary: 'Stop a server'
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/run-stats/':
    post:
      operationId: projects_servers_run-stats_create
      responses:
        '201':
          description: 'ServerRunStatistics created.'
          examples:
            application/json: {"id": "7d55fca5-2ba3-4af4-95ab-26dc141e6bfc","start": "2017-07-24T13:42:14.883820Z","stop": "","exit_code": 0,"size": 0,"stacktrace": ""}
          schema:
            $ref: '#/definitions/ServerRunStatistics'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ServerRunStatisticsError'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: serverrunstats_data
          in: body
          schema:
            $ref: '#/definitions/ServerRunStatisticsData'
      summary: "Create a new server's run statistics"
      consumes:
        - application/json
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/run-stats/{id}/':
    get:
      operationId: projects_servers_run-stats_read
      responses:
        '200':
          description: 'ServerRunStatistics retrieved.'
          schema:
            $ref: '#/definitions/ServerRunStatistics'
        '404':
          description: 'ServerRunStatistics not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Run statistics unique identifier expressed as UUID.'
          type: string
      summary: 'Retrieve statistics for a server'
      tags:
        - projects
    put:
      operationId: projects_servers_run-stats_replace
      responses:
        '200':
          description: 'ServerRunStatistics updated.'
          schema:
            $ref: '#/definitions/ServerRunStatistics'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ServerRunStatisticsError'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Server run statistics expressed as UUID.'
          type: string
        - name: serverrunstats_data
          in: body
          schema:
            $ref: '#/definitions/ServerRunStatisticsData'
      summary: "Replace a server's statistics"
      consumes:
        - application/json
      tags:
        - projects
    patch:
      operationId: projects_servers_run-stats_update
      responses:
        '200':
          description: 'ServerRunStatistics updated.'
          schema:
            $ref: '#/definitions/ServerRunStatistics'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ServerRunStatisticsError'
        '404':
          description: 'ServerRunStatistics not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Server run statistics unique identifier expressed as UUID.'
          type: string
        - name: serverrunstats_data
          in: body
          schema:
            $ref: '#/definitions/ServerRunStatisticsData'
      consumes:
        - application/json
      summary: "Update a server's statistics"
      tags:
        - projects
    delete:
      operationId: projects_servers_run-stats_delete
      responses:
        '204':
          description: 'ServerRunStatistics deleted.'
        '404':
          description: 'ServerRunStatistics not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Server run statistics unique identifier expressed as UUID.'
          type: string
      summary: "Delete a server's statistics"
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/ssh-tunnels/':
    get:
      operationId: projects_servers_ssh-tunnels_list
      responses:
        '200':
          description: SshTunnel list
          examples:
            application/json: []
          schema:
            type: array
            items:
              $ref: '#/definitions/SshTunnel'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Limit retrieved items.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset retrieved items.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Order retrieved items.'
          type: string
      summary: "Get SSH Tunnels associated to a server"
      tags:
        - projects
    post:
      operationId: projects_servers_ssh-tunnels_create
      responses:
        '201':
          description: 'SSH Tunnel created.'
          schema:
            $ref: '#/definitions/SshTunnel'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/SshTunnelError'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: sshtunnel_data
          in: body
          schema:
            $ref: '#/definitions/SshTunnelData'
      consumes:
        - application/json
      summary: "Create SSH Tunnel associated to a server"
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/ssh-tunnels/{tunnel}/':
    get:
      operationId: projects_servers_ssh-tunnels_read
      responses:
        '200':
          description: 'SSH Tunnel retrieved.'
          schema:
            $ref: '#/definitions/SshTunnel'
        '404':
          description: 'SSH Tunnel not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: tunnel
          required: true
          in: path
          description: 'SSH tunnel unique identifier expressed as UUID or name.'
          type: string
      summary: "Get an SSH Tunnel associated to a server"
      tags:
        - projects
    put:
      operationId: projects_servers_ssh-tunnels_replace
      responses:
        '200':
          description: SshTunnel updated
          schema:
            $ref: '#/definitions/SshTunnel'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/SshTunnelError'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: tunnel
          required: true
          in: path
          description: 'SSH tunnel unique identifier expressed as UUID or name.'
          type: string
        - name: sshtunnel_data
          in: body
          schema:
            $ref: '#/definitions/SshTunnelData'
      consumes:
        - application/json
      summary: "Replace SSH Tunnel associated to a server"
      tags:
        - projects
    patch:
      operationId: projects_servers_ssh-tunnels_update
      responses:
        '200':
          description: ' SSH Tunnel updated.'
          schema:
            $ref: '#/definitions/SshTunnel'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/SshTunnelError'
        '404':
          description: 'SSH tunnel not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: ''
          type: string
        - name: project
          required: true
          in: path
          description: ''
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: tunnel
          required: true
          in: path
          description: ''
          type: string
        - name: sshtunnel_data
          in: body
          schema:
            $ref: '#/definitions/SshTunnelData'
      consumes:
        - application/json
      summary: "Update an SSH Tunnel associated to a server"
      tags:
        - projects
    delete:
      operationId: projects_servers_ssh-tunnels_delete
      responses:
        '204':
          description: 'SSH tunnel deleted.'
        '404':
          description: 'SSH tunnel not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: tunnel
          required: true
          in: path
          description: 'SSH tunnel unique identifier expressed as UUID or name.'
          type: string
      summary: "Delete an SSH Tunnel associated to a server"
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/stats/{id}/':
    get:
      operationId: projects_servers_stats_read
      responses:
        '200':
          description: ServerStatistics retrieved
          schema:
            $ref: '#/definitions/ServerStatistics'
        '404':
          description: ServerStatistics not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Server statistics unique identifier expressed as UUID.'
          type: string
      summary: "Retrieve a server's statistics"
      tags:
        - projects
    put:
      operationId: projects_servers_stats_replace
      responses:
        '200':
          description: ServerStatistics updated
          schema:
            $ref: '#/definitions/ServerStatistics'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ServerStatisticsError'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Server statistics unique identifier expressed as UUID.'
          type: string
        - name: serverstats_data
          in: body
          schema:
            $ref: '#/definitions/ServerStatisticsData'
      consumes:
        - application/json
      summary: "Replace a server's statistics"
      tags:
        - projects
    patch:
      operationId: projects_servers_stats_update
      responses:
        '200':
          description: 'ServerStatistics updated.'
          schema:
            $ref: '#/definitions/ServerStatistics'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ServerStatisticsError'
        '404':
          description: 'ServerStatistics not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Server statistics unique identifier expressed as UUID.'
          type: string
        - name: serverstats_data
          in: body
          schema:
            $ref: '#/definitions/ServerStatisticsData'
      consumes:
        - application/json
      summary: "Update a server's statistics"
      tags:
        - projects
    delete:
      operationId: projects_servers_stats_delete
      responses:
        '204':
          description: 'ServerStatistics deleted.'
        '404':
          description: 'ServerStatistics not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: id
          required: true
          in: path
          description: 'Stats unique identifier expressed as UUID.'
          type: string
      summary: "Delete a server's statistics"
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/triggers/':
    get:
      operationId: service_trigger_list
      responses:
        '200':
          description: ServerAction list
          examples:
            application/json: []
          schema:
            type: array
            items:
              $ref: '#/definitions/ServerAction'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: name
          required: false
          in: query
          description: 'Trigger name.'
          type: string
        - name: limit
          required: false
          in: query
          description: 'Limit when getting triggers.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset when getting triggers.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Ordering when getting triggers.'
          type: string
      summary: "Retrieve server triggers"
      tags:
        - projects
    post:
      operationId: service_trigger_create
      responses:
        '201':
          description: 'Server action created.'
          examples:
            application/json: {"id": "19938b2c-17f6-46ed-a506-f5b196853951","name": "serverStartPost","operation": "start","url": "/v1/johndoe/service/ed81aac7-835d-4702-a58e-4eeda89d4a5a/trigger/19938b2c-17f6-46ed-a506-f5b196853951/call/"}
          schema:
            $ref: '#/definitions/ServerAction'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/ServerActionError'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: server_action
          in: body
          description: 'Server action.'
          schema:
            $ref: '#/definitions/ServerActionData'
      consumes:
        - application/json
      summary: "Create a new server trigger"
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/triggers/{trigger}/':
    get:
      operationId: service_trigger_read
      responses:
        '200':
          description: 'Server action retrieved.'
          examples:
            application/json: {"id": "19938b2c-17f6-46ed-a506-f5b196853951","name": "serverStartPost","operation": "start","url": "/v1/johndoe/service/ed81aac7-835d-4702-a58e-4eeda89d4a5a/trigger/19938b2c-17f6-46ed-a506-f5b196853951/call/"}
          schema:
            $ref: '#/definitions/ServerAction'
        '404':
          description: 'ServerAction not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: trigger
          required: true
          in: path
          description: 'Trigger unique identifier.'
          type: string
      summary: "Get a server trigger"
      tags:
        - projects
    put:
      operationId: service_trigger_replace
      responses:
        '200':
          description: 'ServerAction updated.'
          examples:
            application/json: {"id": "19938b2c-17f6-46ed-a506-f5b196853951","name": "serverStartPut","operation": "start","url": "/v1/johndoe/service/ed81aac7-835d-4702-a58e-4eeda89d4a5a/trigger/19938b2c-17f6-46ed-a506-f5b196853951/call/"}
          schema:
            $ref: '#/definitions/ServerAction'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ServerActionError'
        '404':
          description: 'Server action not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: trigger
          required: true
          in: path
          description: 'Trigger unique identifier.'
          type: string
        - name: server_action
          in: body
          schema:
            $ref: '#/definitions/ServerActionData'
      consumes:
        - application/json
      summary: "Replace a server trigger"
      tags:
        - projects
    patch:
      operationId: service_trigger_update
      responses:
        '200':
          description: 'Server action updated.'
          examples:
            application/json: {"id": "19938b2c-17f6-46ed-a506-f5b196853951","name": "serverStartPatch","operation": "start","url": "/v1/johndoe/service/ed81aac7-835d-4702-a58e-4eeda89d4a5a/trigger/19938b2c-17f6-46ed-a506-f5b196853951/call/"}

          schema:
            $ref: '#/definitions/ServerAction'
        '400':
          description: 'Invalid data supplied'
          schema:
            $ref: '#/definitions/ServerActionError'
        '404':
          description: 'Server action not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: trigger
          required: true
          in: path
          description: 'Trigger identifier expressed as UUID or name.'
          type: string
        - name: server_action
          in: body
          schema:
            $ref: '#/definitions/ServerActionData'
      consumes:
        - application/json
      summary: "Update a server trigger"
      tags:
        - projects
    delete:
      operationId: service_trigger_delete
      responses:
        '204':
          description: 'ServerAction deleted'
        '404':
          description: 'ServerAction not found'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: trigger
          required: true
          in: path
          description: 'Trigger identifier expressed as UUID or name.'
          type: string
      summary: "Delete a server trigger"
      tags:
        - projects
  '/v1/{namespace}/projects/{project}/servers/{server}/auth/':
    post:
      operationId: projects_servers_auth
      responses:
        '200':
          description: 'Api key verified'
        '401':
          description: 'Invalid api key.'
      parameters:
        - name: project
          required: true
          in: path
          description: 'Project unique identifier expressed as UUID or name.'
          type: string
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: server
          required: true
          in: path
          description: 'Server unique identifier expressed as UUID or name.'
          type: string
      summary: 'Server api key validation'
      tags:
        - projects
  '/v1/{namespace}/search/':
    get:
      operationId: search
      responses:
        '200':
          description: 'Search list.'
          schema:
            type: array
            items:
              $ref: '#/definitions/Search'
      parameters:
        - name: namespace
          required: true
          in: path
          description: 'User or team name.'
          type: string
        - name: q
          required: true
          in: query
          description: 'Search string.'
          type: string
        - name: type
          required: false
          in: query
          description: 'Limit results to specific types.'
          type: string
          enum:
            - users
            - projects
            - servers
        - name: limit
          required: false
          in: query
          description: 'Limit data when getting items.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset data when getting items.'
          type: string
      summary: "Get a search results"
      tags:
        - search
  '/v1/servers/options/server-size/':
    get:
      operationId: servers_options_sizes_list
      responses:
        '200':
          description: 'Server size list.'
          examples:
            application/json: []
          schema:
            type: array
            items:
              $ref: '#/definitions/ServerSize'
      parameters:
        - name: limit
          required: false
          in: query
          description: 'Set limit when retrieving items.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset when retrieving items.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Set order when retrieving items.'
          type: string
      summary: "Retrieve available server sizes"
      tags:
        - servers
    post:
      operationId: servers_options_server_size_create
      responses:
        '201':
          description: 'ServerSize created. This operation is available only to super users.'
          examples:
            application/json: {"id": "2f4a5830-169d-4111-b913-e68c7b94fdbe","name": "myResource","cpu": 1,"memory": 512,"active": true}
          schema:
            $ref: '#/definitions/ServerSize'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/ServerSizeError'
      parameters:
        - name: serversize_data
          in: body
          schema:
            $ref: '#/definitions/ServerSizeData'
      consumes:
        - application/json
      summary: "Create a new server size item"
      description: "Only super users with on-premises version have acceess to this endpoint."
      tags:
        - servers
  '/v1/servers/options/server-size/{size}/':
    get:
      operationId: servers_options_resources_read
      responses:
        '200':
          description: 'Environment resource retrieved.'
          examples:
            application/json: {"id": "2f4a5830-169d-4111-b913-e68c7b94fdbe","name": "myResource","cpu": 1,"memory": 512,"active": true}
          schema:
            $ref: '#/definitions/ServerSize'
        '404':
          description: 'Environment resource not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: size
          required: true
          in: path
          description: 'Server size unique identifier expressed as UUID or name.'
          type: string
      summary: "Get a server size by id"
      tags:
        - servers
    put:
      operationId: servers_options_server_size_replace
      responses:
        '200':
          description: 'Server size replaced. This operation is available only to super users.'
          examples:
            application/json: {"id": "b673c7ab-65ad-4d6e-859e-0483eea86ad6","name": "myResourceWithPut","cpu": 1,"memory": 512,"active": true}
          schema:
            $ref: '#/definitions/ServerSize'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ServerSizeError'
        '404':
          description: ServerSize not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: size
          required: true
          in: path
          description: 'Server size unique identifier expressed as UUID or name.'
          type: string
        - name: serversize_data
          in: body
          schema:
            $ref: '#/definitions/ServerSizeData'
      consumes:
        - application/json
      summary: "Replace a server size by id"
      description: "Only super users with on-premises version have acceess to this endpoint."
      tags:
        - servers
    patch:
      operationId: servers_options_server_size_update
      responses:
        '200':
          description: 'Server size updated. This operation is available only to super users.'
          examples:
            application/json: {"id": "b673c7ab-65ad-4d6e-859e-0483eea86ad6","name": "myServerSizeWithPatch","cpu": 1,"memory": 512,"active": true}
          schema:
            $ref: '#/definitions/ServerSize'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/ServerSizeError'
        '404':
          description: 'Server size not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: size
          required: true
          in: path
          description: 'Server size unique identifier expressed as UUID or name.'
          type: string
        - name: serversize_data
          in: body
          schema:
            $ref: '#/definitions/ServerSizeData'
      consumes:
        - application/json
      summary: "Update a server size by id"
      description: "Only super users with on-premises version have acceess to this endpoint."
      tags:
        - servers
    delete:
      operationId: servers_options_server_size_delete
      responses:
        '204':
          description: 'Server size deleted. This operation is available only to super users'
        '404':
          description: 'ServerSize not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: size
          required: true
          in: path
          description: 'Server size unique identifier expressed as UUID or name.'
          type: string
      summary: "Delete a server size by id"
      description: "Only super users with on-premises version have acceess to this endpoint."
      tags:
        - servers
  /v1/users/profiles/:
    get:
      operationId: users_list
      responses:
        '200':
          description: User list
          examples:
            application/json: [ {"id":"66949654-1f75-4c6f-a5c5-e3572eae6527","username":"johndoe","email":"johndoe@email.com","first_name":"John","last_name":"Doe","profile":{"avatar_url":"http://example.com/","bio":"I like tests","url":"http://about.me/myprofile","location":"Atlanta, GA","company":"3Blades","timezone":"America/New_York"}}, {"id":"66949654-1f75-4c6f-a5c5-e3572eae6527","username":"janedoe","email":"janedoe@email.com","first_name":"John","last_name":"Doe","profile":{"avatar_url":"http://example.com/","bio":"I like tests","url":"http://about.me/myprofile","location":"Atlanta, GA","company":"3Blades","timezone":"America/New_York"}} ]
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
      parameters:
        - name: limit
          required: false
          in: query
          description: 'Limit user list.'
          type: string
        - name: offset
          required: false
          in: query
          description: 'Offset when getting users.'
          type: string
        - name: username
          required: false
          in: query
          description: 'User username.'
          type: string
        - name: email
          required: false
          in: query
          description: 'User email.'
          type: string
        - name: ordering
          required: false
          in: query
          description: 'Ordering when getting users.'
          type: string
      summary: "Get user list"
      tags:
        - users
    post:
      operationId: users_create
      responses:
        '201':
          description: User created
          examples:
            application/json: {"id":"66949654-1f75-4c6f-a5c5-e3572eae6527","username":"johndoe","email":"johndoe@email.com","first_name":"John","last_name":"Doe","profile":{"avatar_url":"http://example.com/","bio":"I like tests","url":"http://about.me/myprofile","location":"Atlanta, GA","company":"3Blades","timezone":"America/New_York"}}
          schema:
            $ref: '#/definitions/User'
        '400':
          description: Invalid data supplied
          schema:
            $ref: '#/definitions/UserError'
      parameters:
        - name: user_data
          in: body
          schema:
            $ref: '#/definitions/UserData'
      consumes:
        - application/json
      summary: "Create new user"
      description: 'Only admin users can create new users. New users have active status by default.'
      tags:
        - users
  '/v1/users/profiles/{user}/':
    get:
      operationId: users_read
      responses:
        '200':
          description: 'User retrieved.'
          examples:
            application/json: {"id":"66949654-1f75-4c6f-a5c5-e3572eae6527","username":"johndoe","email":"johndoe@email.com","first_name":"John","last_name":"Doe","profile":{"avatar_url":"http://example.com/","bio":"I like tests","url":"http://about.me/myprofile","location":"Atlanta, GA","company":"3Blades","timezone":"America/New_York"}}
          schema:
            $ref: '#/definitions/User'
        '404':
          description: 'User not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: user
          required: true
          in: path
          description: 'Unique identifier expressed as UUID or username.'
          type: string
      summary: "Retrieve a user"
      tags:
        - users
    patch:
      operationId: users_update
      responses:
        '200':
          description: 'User updated.'
          examples:
            application/json: {"id":"66949654-1f75-4c6f-a5c5-e3572eae6527","username":"johndoe","email":"runB@email.com","first_name":"John","last_name":"Doe","profile":{"avatar_url":"http://example.com/","bio":"Data updated with patch","url":"http://about.me/myprofile","location":"Atlanta, GA","company":"3Blades","timezone":"America/New_York"}}
          schema:
            $ref: '#/definitions/User'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/UserError'
        '404':
          description: 'User not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: user
          required: true
          in: path
          description: 'User unique identifier expressed as UUID or username.'
          type: string
        - name: user_data
          in: body
          schema:
            $ref: '#/definitions/UserData'
      consumes:
        - application/json
      summary: "Update a user"
      tags:
        - users
    delete:
      operationId: users_delete
      responses:
        '204':
          description: 'User deleted.'
        '404':
          description: User not found
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: user
          required: true
          in: path
          description: 'User identifier expressed as UUID or username.'
          type: string
      summary: "Delete a user"
      tags:
        - users
  '/v1/users/{user}/api-key/':
    get:
      operationId: users_api-key_list
      responses:
        '200':
          description: 'Api Key'
      parameters:
        - name: user
          required: true
          in: path
          description: 'User unique identifier expressed as UUID or username.'
          type: string
      summary: "Retrieve account's API key"
      tags:
        - users
  '/v1/users/{user}/api-key/reset/':
    post:
      operationId: users_api-key_reset
      responses:
        '201':
          description: 'Reset Api Key'
        '400':
          description: 'Invalid data supplied'
      parameters:
        - name: user
          required: true
          in: path
          description: 'User unique identifier expressed as UUID or username.'
          type: string
      summary: "Reset a user's API key"
      tags:
        - users
  '/v1/users/{user}/avatar/':
    post:
      operationId: user_avatar_set
      responses:
        '201':
          description: 'Added user avatar'
          schema:
            $ref: '#/definitions/User'
        '400':
          description: 'Invalid data supplied'
      parameters:
        - name: user
          required: true
          in: path
          description: 'User unique identifier expressed as UUID or username.'
          type: string
      consumes:
        - multipart/form-data
      summary: "Add user avatar"
      tags:
        - users
    get:
      operationId: user_avatar_get
      responses:
        '200':
          description: 'User avatar'
      parameters:
        - name: user
          required: true
          in: path
          description: 'User unique identifier expressed as UUIDor username.'
          type: string
      summary: "Retrieve user's avatar"
      tags:
        - users
    patch:
      operationId: user_avatar_update
      responses:
        '200':
          description: 'Avatar updated.'
          schema:
            $ref: '#/definitions/User'
        '400':
          description: 'Invalid data supplied.'
          schema:
            $ref: '#/definitions/UserError'
        '404':
          description: 'Avatar not found.'
          schema:
            $ref: '#/definitions/NotFound'
      parameters:
        - name: user
          required: true
          in: path
          description: 'User unique identifier expressed as UUID or username.'
          type: string
      consumes:
        - multipart/form-data
      summary: 'Update a project file'
      tags:
        - users
    delete:
      operationId: user_avatar_delete
      responses:
        '204':
[...]
